body {
  background-color: #c5e4e7;
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  gap: 26.864px;
}
.Number-error {
  color: #E17052;}
.header {
  color: #3d6666;
  width: 86.66px;
  height: 53.14px;

  width: 86.664px;
  height: 53.136px;
}

.container {
  gap: 48px;
  display: flex;
  padding: 32px 32px 32px 48px;
  width: 920px;
  flex-shrink: 0;
  border-radius: 25px;
  background: #fff;
  box-shadow: 0px 32px 43px 0px rgba(79, 166, 175, 0.2);
 
}

.bill {
  display: flex;
  width: 379px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 6px;
}

.bill-header {
  color: #5e7a7d;
  font-family: Space Mono;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.input1 {
  height: 48px;
  flex-shrink: 0;
  background: #f3f9fa;
  outline: none;
  color: #00474b;
  text-align: right;
  font-family: Space Mono;
  font-size: 24px;
  font-weight: 700;
}

.mini-div {
  width: 379px;
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding: 6px 18px;
  border-radius: 5px;
  background: #f3f9fa;
}

.mini-buttons {
  width: 117px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #00474b;
  color: #fff;
  text-align: center;
  font-family: Space Mono;
  font-size: 24px;
  font-weight: 700;
}

#custom_button {
  width: 118px;
  height: 48px;
  flex-shrink: 0;
  color: #547878;
  text-align: right;
  font-family: Space Mono;
  font-size: 24px;
  font-weight: 700;
  border-radius: 5px;
  background: #f3f9fa;
  padding: 6px 14px;
  outline: none;
}

.buttons {
  display: flex;
  width: 379px;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 16px 0;
  margin-top: 16px;
}

.Select-Tip {
  margin: 40px 0;
}

.right {
  border-radius: 15px;
  background: #00474b;
  padding: 40px;
  width: 413px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.right_main {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.total_h3 {
  color: #fff;
  font-family: Space Mono;
  font-size: 16px;
  font-weight: 700;
}
span {
  color: #7f9d9f;
  font-family: Space Mono;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

#total,
#tip_total {
  color: #26c2ae;
  text-align: right;
  font-family: Space Mono;
  font-size: 48px;
  font-weight: 700;
  letter-spacing: -1px;
}

.reset {
  width: 100%;
  flex-shrink: 0;
  border-radius: 5px;
  background: #26c2ae;
  color: #00474b;
  text-align: center;
  font-family: Space Mono;
  font-size: 20px;
  font-weight: 700;
  padding: 9px 0px;
}

.left {
  padding: 20px;
}

.mini-buttons:hover {
  background: #9fe8df;
  color: #00474b;
}

.mini-buttons.active {
  background: #26c2ae;
}

.mini-div:hover {
  background: #f3f9fa; 
  padding: 6px 18px; 
 
  outline: 2px solid #26c2ae; 
}
#custom_button:hover {
  border-radius: 5px;
  border: 2px solid #26c2ae;
  background: #f3f9fa;
}

#custom_button.active {
  border-radius: 5px;
  border: 2px solid #26c2ae;
  background: #f3f9fa;
}

.reset:hover {
  background: #9fe8df;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media screen and (max-width: 768px) {
  body {
    /* display: flex; */
    /* width: 375px; */
    padding-top: 50px;
    /* flex-direction: column; */
    /* justify-content: flex-end; */
    /* align-items: center; */
    gap: 40.864px;
    height: 375px
  }
  .right_main{
    margin-bottom: 20px;
  }
  .mini-buttons{
    width: 146.631px;
    font-size: 24px;
  }
  #custom_button{
    width: 146.631px;
    font-size: 24px;
  }
  #tip_total,
  #total {
    font-size: 32px;
  }
  /* .mainsvg {
    margin-left: 305px
  } */
  .container {
    flex-direction: column;
    width: 375px;
    padding: 0;
    border-radius: 25px 25px 0px 0px;
    height: auto;
  }

  
  .mini-div,
  .buttons {
    width: 100%;
    /* padding: 8% 5%; */
  }
  .bill{
    width: 100%;
    position: relative;
  }
  /* .header {
    width: 100%;
    height: auto;
  } */

  .right {
    
    padding: 5%;
    width: 327px;
    margin-left: 23px 
  }

  .reset {
    width: 100%;
    padding: 6% 0;
    font-size: 18px;
  }

  /* .input1,
  .mini-buttons,
  /* #custom_button, */
  /* .total_h3, */
  /* span, */
  /* #total, */
   /* { */
    /* font-size: 15px; */
  /* } */ 

  /* .buttons {
    /* flex-direction: column; */
/* } */
.input1{
  font-size:  20px;;
}
.Select-Tip {
  margin: 20px 0;
}

.bill-header{
  font-size: 20px;

}


.Number-error {
  color: #e17457;
  position: absolute;
  right: 0;
  top: 8px;
  /* font-family: Space Mono;
  font-size: 16px;
  font-weight: 700;
  padding-left: 20px; */
} 
}